@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
* {
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(90deg, #7d5fff, #7158e2); */
    background-color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.bulb{
    width: 160px;
    height: 150px;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
}




.light{
    background-image: url(./images/off.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 160px;
    height: 150px;
}
.on {
    background-image: url(./images/on.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    width: 160px;
    height: 150px;
}



h4{
    position: absolute;
    top: 80%;
    background-color: chartreuse;
}

.btn {
    background-color:white;
    position: absolute;
    border: 4px solid gainsboro;
    cursor: pointer;
    font-size: 24px;
    top: 10px;
    left: 10px;
    height: 50px;
    width: 90px;
    box-shadow: 2px 3px 20px black inset;
}

.btn:hover{
    background-color:lightyellow;
    box-shadow: 2px 2px 20px red inset;
}



